<div class="durationSelector {{options.cssClass}}">
    <span class="durationSelector-input" ng-click="showPresets = !showPresets">{{model.displayText}}</span>
    <div class="durationSelector-popup" ng-class="{custom:showCustom}" ng-show="showPresets">
        <div class="durationSelector-customPicker" ng-show="showPresets && showCustom">
            <month-picker class="left" type="start" min-date="minDate" max-date="maxDate"></month-picker>
            <month-picker class="right" type="end" min-date="minDate" max-date="maxDate"></month-picker>
        </div>
        <ul class="durationSelector-presets">
            <li class="durationSelector-preset" ng-repeat="preset in presets" ng-click="setPreset(preset)" ng-class="{'is-selected': preset.value == model.value && !showCustom, 'is-disabled': !preset.enabled}">
                {{preset.buttonText}}
            </li>
            <li class="durationSelector-preset" ng-click="setCustom()" ng-class="{'is-selected': showCustom}">
                {{showCustom ? 'Click to apply' : 'Custom Range'}}
            </li>
        </ul>
    </div>
</div>