.sw-duration-selector {
  .selected {
    color: red;
  }
  .disabled {
    color: grey;
  }
  .presets {
    list-style: none;
    .preset {
    }
  }
  .left, .right {
    display: inline-block;
  }
  .years {
    text-align: center;
  }
  .months {
    width: 150px;
    .month {
      display: inline-block;
      text-align: center;
      width: 50px;
    }
  }
}