<div class="monthPicker">
    <div class="monthPicker-box">
        <div class="monthPicker-years">
            <span class="monthPicker-year" ng-class="{'is-disabled': !allowedYear(selectedYear - 1)}" ng-click="selectedYear=selectedYear-1">< {{selectedYear - 1}}</span>
            <span class="monthPicker-year">{{selectedYear}}</span>
            <span class="monthPicker-year" ng-class="{'is-disabled': !allowedYear(selectedYear + 1)}" ng-click="selectedYear=selectedYear+1">{{selectedYear + 1}} ></span>
        </div>
        <div class="monthPicker-months">
            <span class="monthPicker-month" ng-class="{'is-selected': month == selectedDate.month && selectedYear == selectedDate.year, 'is-range': inRangeMonth(month), 'is-disabled': !allowedMonth(month)}" ng-repeat="month in months" ng-click="selectDate(month)">{{month | monthShort}}</span>
        </div>
    </div>
    <div class="monthPicker-date">
        <span class="'is-disabled'">{{type == 'start' ? 'From ' : 'To '}}</span>
        <span style="font-weight: 500">{{selectedDate | startEndDate}}</span>
    </div>
</div>