<div class="durationSelector {{options.cssClass}}">
    <input type="text" ng-model="ngModel" ng-click="showPresets = !showPresets" readonly>
    <div class="durationSelector-popup" ng-class="{custom:showCustom}" ng-show="showPresets">
        <div class="durationSelector-customPicker" ng-show="showPresets && showCustom">
            <month-picker class="left" type="start"></month-picker>
            <month-picker class="right" type="end"></month-picker>
        </div>
        <ul class="durationSelector-presets">
            <li class="durationSelector-preset" ng-repeat="preset in options.presets" ng-click="updateModel(preset)" ng-class="{'is-selected': preset.value == ngModel && !showCustom, 'is-disabled': !preset.enabled}">
                {{preset.buttonText}}
            </li>
            <li class="durationSelector-preset" ng-click="updateModel({value: 'custom'})" ng-class="{'is-selected': showCustom}">
                {{showCustom ? 'Click to apply' : 'Custom Range'}}
            </li>
        </ul>
    </div>
</div>